@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital@0;1&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
img {
        margin: 0;
}

body {
    font-family: 'Comic Neue', cursive;
    background-color: #FCF8EF;
}

.schedules {
             margin: 2rem;
}

.info-symbol {
    margin-left: 0.9rem;
    border: 1px solid #FEB51A ;
    border-radius: 70%;
    padding: 0.5rem;
}

.card {
    display: flex;
    margin: 2rem;
    border-top: 1px solid #FEB51A;
    border-bottom: 1px solid #FEB51A;
}

.solo-card {
                border: 1px solid #FEB51A;
                border-radius: 5px;
                margin: 2rem;
                padding: 1rem;
                text-align: center;
}


  