@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital@0;1&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
img {
        margin: 0;
}

body {
    font-family: 'Comic Neue', cursive;
    background-color: #FCF8EF;
}

.info-symbol {
    margin-left: 0.9rem;
    border: 1px solid #FEB51A ;
    border-radius: 50%;
    padding: 5px;
}

/* TimeCardSlider.css */
.slider-container {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
  }
  
  .time-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .prev-arrow {
    left: -30px;
  }
  
  .next-arrow {
    right: -30px;
  }
  